@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;0;700&display=swap");

:root {
  --clr-bg: #f3f3e3;
  --clr-text-primary: #243264;
  --clr-text-secondary: #747399;
  --clr-after-bg: #fab564;
  --clr-button: #fc6c4c;
  --border-round: 1rem;
  --text-light: 300;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: var(--clr-bg);
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: poppins;
  position: relative;
}
body::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 25rem;
  width: 18rem;
  height: 60%;
  border-radius: 2rem;
  background-color: var(--clr-after-bg);
  z-index: 1;
}
body::before {
  content: "";
  position: absolute;
  bottom: 2rem;
  right: 25rem;
  width: 13rem;
  height: 40%;
  border-radius: 2rem;
  background-color: var(--clr-button);
  z-index: 1;
}
.container {
  position: relative;
  z-index: 10;
  width: 35%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin: 3rem;
  background-color: white;
  border-radius: var(--border-round);
  padding: 2rem;
}
h1,
h2,
p,
select,
option,
label,
::placeholder {
  text-transform: capitalize;
  color: var(--clr-text-primary);
  font-weight: 400;
}
::placeholder {
  text-align: start;
  font-size: 1rem;
}
input[type="checkbox"] {
  accent-color: var(--clr-text-primary);
  background: #990000;
}
input[type="text"] {
  font-size: 1rem;
}
label {
  font-size: 0.8rem;
}
.container h1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--clr-text-primary);
  margin-bottom: 1rem;
}
.container .pick-up {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.container .pick-up label {
  font-size: 0.8rem;
  color: var(--clr-text-primary);
  margin-bottom: 0.2rem;
}
.container .pick-up #pick-up {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  outline: none;
  border: 1px solid var(--clr-text-primary);
}
.container .deliver-car {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.2rem;
  align-items: center;
}

.container .deliver-car {
  font-size: 1.1rem;
  margin-top: 0.2rem;
}
.pick-up-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}
.first-div,
.second-div {
  width: 100%;
}
.pick-up-date h2 {
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}
.pick-up-date select {
  border: none;
  outline: none;
}
select {
  width: 100%;
  font-size: 1rem;
}
.select-box {
  border: 1px solid var(--clr-text-primary);
  padding: 0.8rem;
  border-radius: 0.2rem;
  margin: 0.3rem 0;
  width: 100%;
  display: flex;
}
.border {
  width: 0.3rem;
  background-color: var(--clr-text-primary);
}
.check-mark {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.8rem;
}

.check-mark i {
  margin-right: 0.3rem;
}
.check-mark p {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 2.2rem;
  border-radius: 1rem;
  margin: 2rem auto;
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
  background-color: var(--clr-button);
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.search:hover {
  color: #243264;
  background-color: var(--clr-bg);
}

@media screen and (max-width: 1100px) {
  body::after {
    content: "";
    position: absolute;
    top: 0.1rem;
    left: 1rem;
    width: 18rem;
    height: 60%;
    border-radius: 2rem;
    background-color: var(--clr-after-bg);
    z-index: 1;
  }
  body::before {
    content: "";
    position: absolute;
    bottom: 0.1rem;
    right: 1rem;
    width: 13rem;
    height: 40%;
    border-radius: 2rem;
    background-color: var(--clr-button);
    z-index: 1;
  }
  .container {
    width: 90%;
    height: 60%;
    padding: 2rem;
    margin: 0rem;
    margin-top: 6rem;
  }
}

@media screen and (max-width: 768px) {
  body::after {
    content: "";
    position: absolute;
    top: 0.1rem;
    left: 1rem;
    width: 18rem;
    height: 60%;
    border-radius: 2rem;
    background-color: var(--clr-after-bg);
    z-index: 1;
  }
  body::before {
    content: "";
    position: absolute;
    bottom: 0.1rem;
    right: 1rem;
    width: 13rem;
    height: 40%;
    border-radius: 2rem;
    background-color: var(--clr-button);
    z-index: 1;
  }
  .container {
    width: 90%;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 1rem;
  }
}
